
  <aside class="sidebar static">
    <div class="widget stick-widget">
      <h4 class="widget-title">Edit info</h4>
      <ul class="naves">
        <li>
          <i class="ti-info-alt"></i>
          <a href="edit-profile-basic.html" title="">Basic info</a>
        </li>
        <li>
          <i class="ti-mouse-alt"></i>
          <a href="edit-work-eductation.html" title="">Education & Work</a>
        </li>
        <li>
          <i class="ti-heart"></i>
          <a href="edit-interest.html" title="">My interests</a>
        </li>
        <li>
          <i class="ti-settings"></i>
          <a href="edit-account-setting.html" title="">account setting</a>
        </li>
        <li>
          <i class="ti-lock"></i>
          <a href="edit-password.html" title="">change password</a>
        </li>
      </ul>
    </div>
  </aside>

