<aside class="sidebar static">
  <div class="widget">
    <h4 class="widget-title">Shortcuts</h4>
    <ul class="naves">
      <li>
        <i class="fa fa-clipboard"></i>
        <a (click)="goNewfeed()" title="">News feed</a>
      </li>
      <li>
        <i class="fa fa-mouse-pointer"></i>
        <a href="inbox.html" title="">Inbox</a>
      </li>
      <li>
        <i class="fa fa-clipboard"></i>
        <a (click)="goUserPage()" title="">My pages</a>
      </li>
      <li>
        <i class="fa fa-user"></i>
        <a (click)="goFriendRequestList()" title="">friends</a>
      </li>
      <li>
        <i class="fa fa-image"></i>
        <a href="timeline-photos.html" title="">images</a>
      </li>
      <li>
        <i class="ti-comments-smiley"></i>
        <a href="messages.html" title="">Messages</a>
      </li>
      <li>
        <i class="fa fa-bell"></i>
        <a href="notifications.html" title="">Notifications</a>
      </li>
      <li>
        <i class="fa fa-bar-chart-o"></i>
        <a href="insights.html" title="">insights</a>
      </li>
      <li>
        <i class="fa fa-power-off"></i>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div><!-- Shortcuts -->


  <div class="widget stick-widget">
    <h4 class="widget-title">Thích thêm j thì thêm</h4>
    <ul class="followers">
      <li>content 1</li>
    </ul>
  </div>
</aside>

