<div class="central-meta">
  <div class="onoff-options">
    <h5 class="f-title"><i class="ti-settings"></i>account setting</h5>
    <div class="setting-row">
      <span>Nickname: {{account.nickName}}</span>
    </div>
    <div class="setting-row">
      <span>Email: {{account.email}}</span>
    </div>
    <div class="setting-row">
      <span>Phone: {{account.phoneNumber}}</span>
    </div>

    <div class="submit-btns">
      <button type="button" class="btn btn-primary" (click)="div_show()">
        Edit
      </button>
    </div>
  </div>
</div>



<div id="abc">
  <div id="popupContact">
    <form [formGroup]="editForm"  id="form" method="post" name="form">
      <h2>Contact Us</h2>
      <hr>
      <input id="name" name="name" placeholder="Name" type="text" formControlName="nickName">
      <input id="email" name="email" placeholder="Email" type="text" formControlName="email">
      <input id="phone" name="email" placeholder="Phone" type="number" formControlName="phoneNumber">
      <button (click)="div_hide()" id="submit">Send</button>
    </form>
  </div>
</div>

