<div class="theme-layout">

  <app-header></app-header>

  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">

              <div class="col-lg-3">
                <app-side-left></app-side-left>
              </div>
              <div class="col-lg-6">
                <router-outlet></router-outlet>
              </div>
              <div class="col-lg-3">
                <app-side-right></app-side-right>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

